    /* Iniciando Design Responsivo */
    .secao {

        width: 100%;
    }
    img {
        max-width: 100%;
    }
    header {
        padding: 0.5em 0;
    }
    .container {
        margin: 0 auto;
        max-width: 1200px;
    }
    .logo,
    .secao {
        padding: 0 1%;
    }
    
    .logo,
    .busca,
    .barra-nav,
    .menu-principal {
        display: inline-block;
        vertical-align: middle;
    }
    .menu-principal li {
        float: left;
    }
    .busca {
        float: right;
    }
    .mini {
        float: left;
        width: 50%;
    }
    .destaques {
        margin-top: 1em;
    }
    .barra-nav {
        margin: 0.4em 0;
    }

    /* Media Queries */

    @media (min-width: 600px) {
        html {
            font-size: 1.125em;
        }
        .secao {
            width: 50%;
            float: left;
        }
    }
    @media (min-width: 1000px) {
        html {
            font-size: 1.25em;
        }
        .secao {
            width: 33.333%;
        }
    }